.table th,
.table td {
  white-space: wrap;
}
.content-wrapper {
    background-color: #f0f8ff !important;
    padding: 1.75rem 1.25rem !important;
}
.bg-aliceblue {
    background-color: #f0f8ff !important;
}
.footer {
    background-color: #f0f8ff !important;
  }
.card-header {
    background-color: #ffff;
}
.table {
    --bs-table-hover-bg: #f0f8ff;
  }
table.dataTable {
    border-collapse: collapse !important;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ebedf2 !important;
  }
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status {
    bottom: 22px !important;
    right: 0px !important;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {
    width: 10px;
}
